div.album-index {
  color:black;
  font-variant:small-caps;
}

a.visited {
  color:#aaa;
}

div.preview-thumbnail {
	float: left;
	margin-right: 10px;
	margin-top: 10px;
  text-align:right;
}

div.preview {
  width:824px;
}

div.preview-control {
  text-align:center;
  font-variant:small-caps;
  font-size:11pt;
  padding-top:8pt;
  padding-bottom:12pt;
}

a.index-link {
  margin-right: 40px;
}

div.preview-previous-navigation {
  float:left;
}

div.preview-next-navigation {
  float:right;
}

img.image-preview {
	background-color: black;
	border: #aaa 6pt inset;
	padding: 3pt;
}

img.thumbnail {
  background-color: black;
	border: black 4pt inset;
	padding: 2pt;
}

div.thumbnail-caption {
	font-size:small;
  padding-right:8pt;
}

