div.album-index {
  color:black;
  font-variant:small-caps;
}

a.visited {
  color:#aaa;
}

div.preview-thumbnail,
div.directory-thumbnail {
  float: left;
  margin-top: 10px;
  text-align:right;
  width: 100%;
}

div.preview-thumbnail:,
div.directory-thumbnail {
  margin-left: 0px;
}

div.directory-thumbnail {
  background-color: #ccc;
  padding-left:6px;
  padding-right:6px;
}

div.image-preview,
div.preview div.controls {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
}

div.preview div.controls {
  margin-left: 0px;
  width: 23.8%;
}

div.image-preview {
  width: 74.6%;
}

@media only screen and (max-width: 600px) {
  div.preview div.controls,
  div.image-preview {
    margin: 1% 0 1% 0%;
    width: 100%;
  }
  div.preview div.controls div {
    float: left;
    width: 32.26%;
  }
  div.preview div.controls div:first-child {
    margin-left: 0px;
  }
}

div.preview-control {
  text-align:center;
  font-variant:small-caps;
  font-size:11pt;
  padding-top:8pt;
  padding-bottom:12pt;
}

a.index-link {
  margin-right: 40px;
}

img.image-preview {
  background-color: black;
  border: #aaa 6pt inset;
  padding: 3pt;
  width: calc(100% - 20pt);
}

img.thumbnail {
  background-color: black;
  border: black 4pt inset;
  padding: 2pt;
  width: calc(100% - 14pt);
}

div.thumbnail-caption {
  font-size:small;
  padding-right:8pt;
}

@supports(display:grid) {
  @media screen and (min-width: 400px) {
    div.preview-thumbnail,
    div.directory-thumbnail {
      float: none;
      margin: 0px;
      display: inline-grid;
    }

    div.album-index {
      display: grid;
      grid-gap: 4pt;
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media screen and (min-width: 650px) {
    div.album-index {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media screen and (min-width: 950px) {
    div.album-index {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  @media screen and (min-width: 1200px) {
    div.album-index {
      grid-template-columns: repeat(6, 1fr);
    }
  }
}

